<div class="weather-board1-cell cell1">
  <img id="id1-icon" src="https://openweathermap.org/img/wn/10d@2x.png" />
  <div id="id2-city"></div>
  <div id="id3-weather">clouds</div>
</div>
<div class="weather-board1-cell cell2">
  <div id="id4-temp">-2</div>
  <div id="id5-feels">Feels: -14</div>
  <div id="id6-temp-mimmax">H:-1 L:-7 Hm:90</div>
</div>
<div class="weather-board1-cell cell3">
  <div id="id7-prepi">Snow: 2mm/h</div>
  <div id="id8-clouds">Clouds: 100%</div>
</div>
<div class="weather-board1-cell cell4">
  <div id="id9-wind">Wind: 10.29</div>
  <div id="id10-gusts">Gusts: 15.43</div>
  <div id="id11-direction">Direction: 240</div>
</div>
